*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:auto;-webkit-overflow-scrolling:touch}
*html{background-image:url(about:blank);background-attachment:fixed;word-wrap:break-word}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html, div, object, iframe, h1, h2, h3, h4, blockquote, pre, a, button, del, font, sub, sup, dl, dt, dd, ol, ul, li, form, label, legend{margin:0;padding:0;border:0;outline:0;font-weight:normal}
body{font-size:10pt;background:#f5f5f5;word-wrap:break-word}
@media print{body{display:none}}
input,textarea,.list select{vertical-align:middle;font-size:11pt!important;border:none}
input[type="submit"], input[type="reset"], input[type="button"], select, button{outline:0;appearance:none;-moz-appearance:none;-webkit-appearance:none}
input[type="radio"]{margin:0 5px 0 0}
select:-ms-expand{display:none}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset!important}

img{max-width:100%;vertical-align:middle;border:0;image-rendering:optimizeQuality;-ms-interpolation-mode:bicubic}
pre{white-space:pre-wrap;word-wrap:break-word}

h2{font-size:16px}
h3, h4{font-size:14px}

ol,ul,li{list-style:none}
em,i{font-style:normal}
b,strong{font-weight:700}
small{font-size:75%;color:#aaa}

table{border-collapse:collapse;border-spacing:0}
td{word-wrap:break-word}
a{text-decoration:none;cursor:pointer}
a:focus{outline:none}
a:hover{color:#e30}
a, label, :focus{outline:0 none}
:selection{background-color:#1283fc;color:#fff}
:-moz-selection{background-color:#1283fc;color:#fff}

sub,sup{position:relative;font-size:70%;line-height:0;vertical-align:baseline}
sup{top:0px}
sub{bottom:0px}
/* html5*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* Float */
.clearfix:after{content:"\20";visibility:hidden;display:block;height:0;font-size:0;clear:both}
.clearfix{*zoom:1}/* for IE/Mac */
.fl{float:left!important}
.fr{float:right!important}
.mt15{margin-top:12px}
.mb15{margin-bottom:12px}
[data-toggle]{cursor:pointer}
.clear{clear:both;overflow:hidden;height:0}
hr{clear:both;margin:5px 0;border:0;border-top:1px solid #e6e6e6}
/* size */
.text-fon48{font-size:36pt!important}
.text-fon34{font-size:25pt!important}
.text-fon28{font-size:22pt!important}
.text-fon24{font-size:18pt!important}
.text-fon22{font-size:16pt!important}
.text-fon20{font-size:14.5pt!important}
.text-fon18{font-size:13.5pt!important}
.text-fon16{font-size:12pt!important}
.text-fon14{font-size:10.5pt!important}
.text-fon12{font-size:9pt!important}
/* color text-color-red bg-color-red (blue  gray  pink  black  white  green  orange  yellow)*/
.bg-color-theme{background-image:-webkit-gradient(linear,left top,right top,from(#72a6ff),to(#42a5f5));background-image:-webkit-linear-gradient(left,#72a6ff,#42a5f5);background-image:-moz-linear-gradient(left,#72a6ff,#42a5f5);background-image:linear-gradient(to right,#72a6ff,#42a5f5);background-color:#72a6ff}
/* border */
.border-top{border-top:1px solid rgba(0,0,0,.12)}
.border-bottom{border-bottom:1px solid rgba(0,0,0,.12)}
.border-left{border-left:1px solid rgba(0,0,0,.12)}

.scroller{overflow:auto}
/* ui-center */
.ui-center{display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;-webkit-box-align:center;text-align:center}
/* vertical */
.ui-vertical{-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;display:-webkit-box;-webkit-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;box-pack:center}
/*array-number*/
.array-number{counter-reset:index}
.array-number .item-media{position:relative}
.array-number .item-media:before{content:counter(index);counter-increment:index;display:inline-block;margin-left:10px;width:1.6rem;height:1.6rem;color:#e5e5e5;font-size:1.1rem;text-align:center;line-height:1.6rem;position:absolute;left:0;top:50%;margin-top:-.8rem;border-radius:1.6rem;border:1px solid #e5e5e5}
.array-number .item-media:before{color:#47a8ef;border-color:#47a8ef}
/* ui-btn */
.ui-btn{-webkit-user-select:none;padding:6px 15px!important;font-size:14px;display:inline-block;border:none;font-weight:normal;line-height:normal;text-align:center;border:1px solid transparent;letter-spacing:2px;white-space:nowrap;cursor:pointer}

.ui-btn.radius{border-radius:2px}
.ui-btn.radius-rounded{border-radius:25px}
.ui-btn:disabled, .ui-btn.disabled, .ui-btn[disabled]:hover{cursor:not-allowed;border:1px #d2d2d2 solid!important;color:#999!important;background-color:#f9f9f9!important}
a.ui-btn{color:white}

.btn-primary{background:#2db2df;border-color:#2db2df;color:white}
.btn-primary:hover{border-color:#59c2e6;background:#59c2e6}

.btn-primary-outline{background-color:transparent;border-color:#59c2e6;color:#59c2e6}
.btn-primary-outline:hover{background:#59c2e6;color:white}
a.btn-primary-outline{color:#59c2e6}

.btn-info{background:#76d4f5;border-color:#76d4f5;color:white}
.btn-info:hover{border-color:#46c5f2;background:#46c5f2}

.btn-yellow{background:#f7cc48;border-color:#f7cc48;color:white}
.btn-yellow:hover{background:#f4bd17;border-color:#f4bd17}
.btn-green{background:#88D939;border-color:#88D939;color:white}
.btn-green:hover{background:#53A107;border-color:#53A107}

.btn-large{font-size:16px!important;padding:13px 30px!important;border-radius:3px}
.btn-small{font-size:12px!important;padding:3px 5px!important}
/* upload */
.upload-photo{overflow:visible;min-height:100px;width:100%;clear:both}
.upload-photo .item-upload-photo{position:relative;display:inline-block;float:left;width:32%;background-size:100%;margin-left:1%;margin-top:15px}
.upload-photo .item-upload-photo{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M977.53 992h-56.096v-16.028h40.069c8.85 0 16.028-7.178 16.028-16.028v-40.07h16.028v56.098c0 8.849-7.177 16.028-16.028 16.028h-0.002z m0-216.366h16.027v64.107H977.53v-64.107z m0-144.245h16.027v64.107H977.53V631.39z m0-144.243h16.027v64.108H977.53v-64.108z m0-152.259h16.027v72.124H977.53v-72.124z m0-144.243h16.027v64.108H977.53v-64.108z m0-128.214c0-8.851-7.176-16.028-16.029-16.028h-40.069V30.373h56.095c8.851 0 16.029 7.176 16.029 16.029v64.107h-16.029V62.428z m-200.34 913.542h64.107V992h-64.108z m0-945.597h64.107v16.029h-64.108zM528.77 751.591h-24.04V535.225H288.364v-24.04H504.73V286.806h24.04v224.379h224.38v24.04H528.77v216.366zM632.948 30.375h64.107v16.029h-64.107V30.375z m-144.243 0h64.109v16.029h-64.11V30.375z m-152.26 0h72.122v16.029h-72.121V30.375z m-144.242 945.597h64.107V992h-64.107v-16.028z m0-945.597h64.107v16.029h-64.107V30.375zM31.931 975.972v-56.097h16.028v40.069c0 8.848 7.176 16.028 16.028 16.028h48.081V992H47.961c-8.85 0-16.028-7.177-16.028-16.028h-0.002zM47.959 62.43v48.08H31.931V46.405c0-8.851 7.177-16.029 16.028-16.029h64.11v16.029H63.986c-8.85 0-16.028 7.175-16.028 16.028z m0 192.322H31.931v-64.108h16.028l0.002 64.108h-0.002z m0 152.259H31.931v-72.124h16.028l0.002 72.124h-0.002z m0 144.243H31.931v-64.108h16.028l0.002 64.108h-0.002z m0 144.242H31.931V631.39h16.028l0.002 64.107h-0.002z m0 144.243H31.931v-64.107h16.028l0.002 64.107zM408.57 992h-72.122v-16.028h72.121V992z m144.244 0h-64.11v-16.028h64.11V992z m144.24 0h-64.106v-16.028h64.107V992z' fill='%23999999'%3E%3C/path%3E%3C/svg%3E");background-repeat:no-repeat}
.upload-photo input{opacity:0;width:100%;height:100%}
.upload-photo img{width:100%;height:100%}
/* upload <a href="javascript:;" class="a-upload"> */
/* old */
.a-upload{height:32px;line-height:30px;position:relative;padding:0 8px;cursor:pointer;color:#888;border:1px solid #ddd;text-align:center;overflow:hidden;display:inline-block;*display:inline;*zoom:1}
.a-upload{background:#fafafa;background:-moz-linear-gradient(#fff,#f4f4f4);background:-ms-linear-gradient(#fff,#f4f4f4);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(#fff,#f4f4f4);background:-o-linear-gradient(#fff,#f4f4f4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f4f4f4');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f4f4f4')";background:linear-gradient(#fff,#f4f4f4)}
.a-upload:hover{background:-moz-linear-gradient(#fff,#ddd);background:-ms-linear-gradient(#fff,#ddd);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));background:-webkit-linear-gradient(#fff,#ddd);background:-o-linear-gradient(#fff,#ddd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd')";background:linear-gradient(#fff,#ddd)}
.a-upload:hover{color:#444;background:#eee;border-color:#ccc;text-decoration:none}
.a-upload input{position:absolute;font-size:100px;right:-10px;top:-10px;opacity:0;filter:alpha(opacity=0);cursor:pointer}
/**/
.upload-box{position:relative;background-repeat:no-repeat;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover}
.a-upload-icon{width:100%;height:100%;display:inline-block;text-align:center;overflow:hidden;opacity:.5}
.a-upload-icon input{position:absolute;right:0;top:0;width:100%;height:100%;opacity:0}
.a-upload-icon:hover{opacity:.9}
/* input */
.ui-input{border:1px solid #e6e6e6!important;padding:5px!important}
.ui-input:hover{border-color:#999 #CCC #ccc #999}

/* ui-select */
.ui-select{padding-left:5px;display:inline-block;text-align:center;position:relative}
.ui-select:after{content:"";border-width:5px;border-style:solid;border-color:transparent #e7e7e7 #e7e7e7 transparent;position:absolute;right:3px;bottom:3px}
.ui-select select{background:transparent;height:32px;line-height:32px;padding-right:10px;text-align:center}
/* ui-radio */
.ui-radio li{border:1px solid #e6e6e6;padding:5px;position:relative;display:inline-block;*display:inline;*zoom:1;margin:0 8px 8px 0}
.ui-radio li label{display:block}
.ui-radio li.checked{border:2px solid #2196f3;padding:4px}
.ui-radio li.checked:after{display:block;content:'';border-width:7px;border-style:solid;border-color:transparent #2196f3 #2196f3 transparent;position:absolute;right:-1px;bottom:-1px}
.ui-radio li label.item-radio>.icon-radio{margin-right:6px;display:inline-block}
/*.ui-radio li input[type="radio"]{display:none}*/
/*icon-*/
[class*="iconfont"]{speak:none;font-variant:normal;text-transform:none;vertical-align:middle;line-height:1}
/* ui-table */
.ui-table{width:100%;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;line-height:25px;margin-bottom:15px;font-size:12px}
.ui-table .title{padding:7px 10px}
.ui-table th,.ui-table td{padding:3px 5px;word-break:break-all}
.ui-table th{font-weight:normal;text-align:right;background:#f7f7f7;color:#555;border-bottom:1px solid #e6e6e6;line-height:36px}
.ui-table th.left{text-align:left}
.ui-table tr:nth-child(even), .ui-table .odd{background:#f9f9f9}
.ui-table tr:nth-child(odd){background:#FFF}
.ui-table tr:hover, .ui-table .hover{background:#fffbed}
.ui-table tr:active, .ui-table .click{background:#FFF4CA}
.ui-table .even{}
/* ui-flex */
.ui-flex{display:-moz-box;display:-webkit-box;display:box}
.ui-flex .ui-col{width:100%;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.ui-flex .ui-col-2{width:100%;-moz-box-flex:2;-webkit-box-flex:2;box-flex:2}
.ui-flex .ui-col-3{width:100%;-moz-box-flex:3;-webkit-box-flex:3;box-flex:3}
.ui-flex .ui-col-4{width:100%;-moz-box-flex:4;-webkit-box-flex:4;box-flex:4}
.ui-flex .ui-col, .ui-flex .ui-col-2, .ui-flex .ui-col-3, .ui-flex .ui-col-4{margin-left:3px}
.ui-flex .ui-col:first-child, .ui-flex .ui-col-2:first-child, .ui-flex .ui-col-3:first-child, .ui-flex .ui-col-4:first-child{margin-left:0}
/* === List View === */
.md .list{margin-top:15px;font-size:10.5pt}
.md .list li{background:#fff}
.md .list .item-media{position:relative}
.md .list .item-media img{border-radius:100%}
.md .list .item-media .badge{position:absolute;left:100%;margin-left:-16px;border-radius:16px;top:8px;line-height:16px}
.md .list .item-text{font-size:12px}
.md .media-list .item-inner, .md li.media-item .item-inner{padding-top:8px;padding-bottom:8px}
.md .list ul ul .item-content{min-height:36px}
.md .list ul ul .item-inner{padding-top:5px;padding-bottom:5px;min-height:36px}
.md .list ul ul li:first-child{border-top:1px solid #e6e6e6}
.md .list input[type=checksum]{height:36px;width:100%;color:#212121}

.md .page{background-color:transparent}
.md .block-title, .md .block-header{margin-top:25px}
.md .block{margin:10px 0}
.md .icon-user{width:24px;height:24px}
.md .icon-user{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M153.01788777 860.44078054A502.38703266 502.38703266 0 0 1 8.00033567 506.66649834C8.00033567 228.3241912 233.65786119 2.66666667 512.00016833 2.66666667c278.34230714 0 503.99983167 225.65752453 503.99983167 503.99983167 0 137.86075406-55.3391813 262.75191272-145.01755209 353.7742822A502.45423298 502.45423298 0 0 1 512.00016833 1010.666331a502.45423298 502.45423298 0 0 1-358.98228056-150.22555045z m29.60159048-66.86397703a378.83987367 378.83987367 0 0 1 229.35352289-179.02074093 201.59993306 201.59993306 0 1 1 200.05433339 0c98.14556686 26.87999147 180.36473962 92.29916883 229.35352388 179.02074093A435.11985464 435.11985464 0 0 0 948.80002231 506.66649834c0-241.24791994-195.55193503-436.79985398-436.79985398-436.79985398S75.20031336 265.41857939 75.20031336 506.66649834a435.11985464 435.11985464 0 0 0 107.41916489 286.91030517z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");}
.md .toolbar{background-color:#fff;color:inherit}
.md .toolbar a{color:inherit}
.md .toolbar-inner{overflow:initial}
.md .subnavbar{height:36px;background:white;color:#666!important}
.md .subnavbar-inner{padding:0}
.md .segmented .button{color:#666!important;border-radius:0!important;border-left:none;border-bottom:1px solid rgba(0,0,0,.1)}
.md .button.button-active{background:transparent;color:black!important;border-color:#72a6ff;border-width:2px}
.md .tabbar-labels{height:55px}
.md .tabbar-labels a.link, .md .tabbar-labels a.tab-link{padding:8px 0;color:#888;font-size:8pt}
.md .tabbar-labels a.tab-link.active{color:#72a6ff}

.resizable{color:#000;line-height:24px;overflow:hidden}
.resizable:empty:before{content:attr(placeholder);color:#bbb}
.resizable:focus{outline:none}
.resizable:focus:before{content:none}
.md .timeline .timeline-item-divider{width:16px;height:16px;margin-top:6px}
.md .timeline .timeline-item-content{width:100%}
.md .timeline .text-color-blue .timeline-item-divider{background-color:#3d93fd;border:4px solid #88bdfe;-webkit-box-shadow:0 0 0 3px #d8e9ff;box-shadow:0 0 0 3px #d8e9ff}
.md .icon-money{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' p-id='626'%3E%3Cpath d='M767.8 200.8c-7.8-7.8-20.5-7.8-28.3 0L512.2 428.2 284.5 200.5c-7.8-7.8-20.5-7.8-28.3 0s-7.8 20.5 0 28.3l207.7 207.7H292.3c-11 0-20 9-20 20s9 20 20 20h199.9v96H292.3c-11 0-20 9-20 20s9 20 20 20h199.9v196.9c0 11 9 20 20 20s20-9 20-20V612.5h199.9c11 0 20-9 20-20s-9-20-20-20H532.2v-96h199.9c11 0 20-9 20-20s-9-20-20-20H560.5l207.3-207.3c7.8-7.9 7.8-20.5 0-28.4z' fill='%23333333'%3E%3C/path%3E%3C/svg%3E");background-repeat:no-repeat;background-position:0 center;background-size:30px;padding-left:30px;font-size:18pt!important;height:50px!important}
.md .inline-label .item-floating-label, .md .inline-label .item-label, .md .inline-labels .item-floating-label, .md .inline-labels .item-label{width:4.6rem;font-size:13px}
.md label.item-radio>.icon-radio{margin-right:16px}
.md .fab-morph{-webkit-box-shadow:none;box-shadow:none}
/**/
.ui-row{overflow:hidden;text-overflow:ellipsis;display:block;white-space:nowrap}
.ui-row2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
/* ui-tooltips */
.ui-tooltips{position:relative;line-height:24px;text-align:left;font-size:14px}
.ui-tooltips .success{padding:6px 16px;background-color:#f7fcfe;color:#72a6ff}
.ui-tooltips .notice{padding:6px 16px;background-color:#fefcec;color:#f86e21}
.ui-tooltips .error{padding:6px 16px;background-color:#ffeeee;color:#f86161}
/* sequence ol */
.sequence{clear:both;margin-top:15px;line-height:22px}
.sequence li{display:list-item;list-style-type:decimal;margin:0 0 10px 20px}
/* result-tip */
.result-tip{vertical-align:middle;text-align:center}
.result-tip .text-align-center{position:absolute;top:50%;left:50%;margin:auto;font-size:9pt;color:#777;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.result-tip .ui-nodata{line-height:60px;font-size:12px;color:#777}
/* ui-list-lower, .ui-list-link */
.ui-list-lower, .ui-list-link{position:relative;cursor:pointer}
.ui-list-link{padding-right:36px!important}
.ui-list-lower:after, .ui-list-link:after{position:absolute;top:50%;overflow:hidden;width:10px;height:10px;display:inline-block;right:15px;border:solid #585858;content:"";transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transition:all 0.2s;-webkit-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
.ui-list-lower:after{border-width:0px 1px 1px 0;margin-top:-9px}
.ui-list-link:after{border-width:1px 1px 0 0;margin-top:-6px}
/* ui-subtitle */
.ui-subtitle{color:#696969;font-size:14px;background-color:#dcdcdc;height:40px;line-height:40px;padding:0 16px}
/* ui-box */
.ui-box{overflow:hidden;background:#FFF}
.ui-box .title{overflow:hidden;padding:16px}
.ui-box .intro{padding:16px}
.ui-box p{color:#777;font-size:14px;margin-top:6px}
/* input-box */
.input-box{border-bottom:1px solid #e9ecee;min-height:48px;padding-left:95px;position:relative;display:block;display:-moz-box;display:-webkit-box;display:box;box-align:center;-webkit-box-align:center;align-items:center}
.input-box:last-child{margin-bottom:0}
.input-box .label-title{position:absolute;left:0;top:0;width:90px;line-height:48px;color:#666}
.input-box .ui-input-txt,.input-box select{color:#222;background:transparent;padding:10px 0;display:block;-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;word-break:break-all;width:100%}
.input-box.active{border-bottom-color:#72a6ff}
.btn-submit{margin:20px 16px}
/* task_input */
.task_input{display:block;display:-moz-box;display:-webkit-box;display:box;box-align:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.task_input .ui-input-txt{color:#333;background:#FFF;border:#e6e6e6 1px solid;padding:9px 10px;display:block;-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;font-size:14px;word-break:break-all;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:100%}
.task_input .ui-input-txt[disabled]{background:#f5f5f5}
.task_input.active .ui-input-txt{border-color:#72a6ff}
/*header,footer*/
header, footer{position:absolute;width:100%;z-index:1}
header{top:0}
footer{bottom:0}
/*searchbar*/
.searchbar{position:relative;width:100%;display:-moz-box;display:-webkit-box;display:box;box-align:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.searchbar a{margin:0 10px;color:#fff;display:inline-block}
.searchbar [class*="iconfont"]{font-size:24px!important}
.searchbar .search_box{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;-webkit-box-align:center;box-align:center;-webkit-align-items:center;align-items:center;padding:0 4px;background:#fff;border-radius:3px;height:32px;display:-moz-box;display:-webkit-box;display:box}
.searchbar .search_box .input_box{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
/* ui-search */
.ui-search{width:100%;background-color:#ebeced;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;padding:10px 12px}
.ui-search .ui-searchbar-input{background:#ffffff;border-radius:4px;height:36px;width:100%;position:relative;padding:0 6px;display:-webkit-box;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.ui-search .iconfont{display:box;display:-webkit-box;display:-moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;margin-right:5px;color:#9e9e9e}
.ui-search input{color:#666;width:100%;height:100%;line-height:36px}
.ui-search .ui-searchbar-cancel{color:#666666;margin-right:-70px;width:70px;height:36px;line-height:36px;text-align:center;-webkit-transition:all .3s;transition:all .3s}
/* ui-tab */
.ui-tab-nav{background-color:#fff;height:38px;width:100%;display:-moz-box;display:-webkit-box;display:box}
.ui-tab-nav li{line-height:38px;border-bottom:#e6e6e6 1px solid;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;text-align:center;color:#777;width:100%}
.ui-tab-nav li a{color:#777;display:block}
.ui-tab-nav li a:hover{text-decoration:none}
.ui-tab-nav li.active{color:#000;border-bottom:2px #72a6ff solid}
.ui-tab-nav li.active a{color:#000}
.ui-tab-nav li:active{opacity:.8}
/* ui-filter ui-select */
.ui-filter{height:38px;width:100%;border-bottom:1px solid #e6e6e6;background:#fff;z-index:2}
.filter_controller li{line-height:38px;min-width:70px;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;text-align:center;font-size:12px;width:100%}
.filter_controller li.active:after{transform:rotate(225deg);-o-transform:rotate(225deg);-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);margin-top:-2px}
.filter_conatiner{position:relative;top:0px;bottom:0px;width:100%}
.filter_component.active{z-index:1;position:fixed;display:block;width:100%;height:100%;background:rgba(0,0,0,0.2)}
.filter_component.active .filter_component_content{-webkit-animation:myFilterslideDownIn 1s;background:#fff}
@-webkit-keyframes myFilterslideDownIn{
	0%{opacity:0;-webkit-transform:translate3d(0,-44px,0)}
	100%{opacity:1;-webkit-transform:translate3d(0,0,0)}
}
.filter_c1{width:100%;height:100%}
.filter_c1 li{padding:10px 16px;border-bottom:1px solid #e6e6e6}
.filter_c1 li.active{background:#f5f5f5}
/* ui-list-text */
.ui-list-text li{border-bottom:1px solid #e6e6e6;background:#fff;padding:8px 16px;position:relative;display:box;display:-webkit-box}
.ui-list-text li:last-child{border-bottom:0}
.ui-list-text li:active{background-color:#f8f9fa}
.ui-list-text li .ui-avatar{width:44px;height:44px;line-height:44px;margin-right:16px;text-align:center;display:block;position:relative}
.ui-list-text li .ui-avatar img{border-radius:100%;width:100%;height:100%}
.ui-list-text li .ui-avatar .tip{line-height:24px;color:#fff;background-color:#fc4349;width:24px;height:24px;overflow:hidden;text-overflow:ellipsis;border-radius:100%;display:inline-block;vertical-align:middle;text-align:center;position:absolute;top:-4px;right:-4px;z-index:1}
.ui-list-text [class*="iconfont"]:first-child{margin-right:16px}
/**/
.ui-list-text li.operate:active{background-color:inherit}
.ui-list-text li.operate span{text-align:center;border-left:#e6e6e6 1px solid;display:block}
.ui-list-text li.operate span:first-child{border-left:none}
.ui-list-text li.operate span a{display:block}
.ui-list-text li p{color:#777;font-size:12px;margin:0}
/* reward */
.reward-icon [class*="iconfont"]:first-child{font-size:29pt}
.icon-weixin{color:#00ba0c}
.icon-zhifubao{color:#29B6F6}
.icon-huafei{color:#00E676}
.icon-gongzhonghao{color:#AED581}
.icon-jiaqun{color:#FFD54F}
.icon-renzheng{color:#9575CD}
.icon-dianshang{color:#F06292}
.icon-qita{color:#90A4AE}
.icon-toupiao{color:#4DD0E1}
.icon-download{color:#7986CB}
.icon-zhuanfa{color:#7986CB}
.icon-kehu{color:#BA68C8}
.icon-caiji{color:#BA68C8}
.icon-quwei{color:#BA68C8}

.icon-dengdai{color:#ffa000}
.icon-zhanshi{color:#00de35}
.icon-zanting{color:#e5d724}
.icon-shibai{color:#ff5350}
.icon-jiesuan{color:#726cfd}
.icon-help{color:#4ca6ff}

/* list-earn-item */
.list-earn-item li{border-bottom:1px solid #e6e6e6;background:#FFF;padding:10px 16px;overflow:hidden;position:relative}
.list-earn-item li .img{display:inline-block;width:120px;height:90px;float:right;margin-left:16px}
.list-earn-item li .text{overflow:hidden}
.list-earn-item li .title{color:#000;margin-bottom:4px}
.list-earn-item li .ui-flex a{display:block;width:100%}
.list-earn-item p{color:#777;font-size:12px;margin-bottom:5px}
.list-earn-item p:last-child{margin-bottom:0}
/**/
.list-earn-item li.operate:active{background-color:inherit}
.list-earn-item li.operate span{text-align:center;font-size:12px;border-left:#e6e6e6 1px solid;display:block}
.list-earn-item li.operate span:first-child{border-left:none}
.list-earn-item li.operate span a{display:block}
/* user-vip */
.vip_lv{display:inline-block;background:#767676;color:#FFF;padding:0 10px;line-height:28px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.vip_lv.lv1{background:#775ABD}
.vip_lv.lv2{background:#EB5366}
.vip_lv.lv3{background:#0D9B7C}
.vip_lv.lv4{background:#008CEE}
/* user-header-bg */
.user-header-bg{content:'';position:absolute;left:-20%;top:0;z-index:-9;width:140%;height:60px;-webkit-border-bottom-left-radius:50%;border-bottom-left-radius:50%;-webkit-border-bottom-right-radius:50%;border-bottom-right-radius:50%}


/* 九宫格 */
.ui-menu-nine:after{clear:both;content:" ";display:block}
.ui-menu-nine li{float:left;background:#FFF;margin-left:2.5%;margin-top:2.5%;width:30%;font-size:8pt;text-align:center;overflow:hidden}
.ui-menu-nine li [class*="icon-"]{font-size:38px}
.ui-menu-nine li a{display:block;padding:8px 0}
.ui-menu-nine li a span{display:block;color:#999;font-size:12px}
/*reward-img*/
.reward-img{margin:15px auto;overflow:hidden}
.reward-img li{width:16%;float:left;text-align:center;margin-right:4%;margin-bottom:1.5%}
.reward-img li a{display:block}
/* ui-article */
.ui-article{padding:10px 16px;background:#FFF;text-align:justify;color:#2C2C2C;word-break:break-all;word-wrap:break-word}
.ui-article .title{font-size:18px;margin-bottom:10px}
.ui-article p{margin-bottom:10px}
.ui-article pre img{max-width:100%}
/* sections_box 步骤 */
.sections_box ol{counter-reset:sectioncounter}
.sections_box li{min-height:50px;border-bottom:#e6e6e6 1px solid;padding-bottom:10px;display:box;display:-webkit-box;-webkit-box-orient:horizontal;position:relative}
.sections_box ol:first-child li:before{content:"步骤" counter(sectioncounter) "： ";counter-increment:sectioncounter;display:list-item;font-weight:bold;padding:10px 0}
.sections_box li .explain_txt_box{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;margin:10px 34px 0 0}
.sections_box li .icon-jian, .sections_box li .icon-jia{position:absolute;right:0;top:10px;font-size:34px}
.sections_box li i{display:none}
.sections_box li[name="yesstep"] i{display:block}
.sections_box li img{margin:16px 0;width:100%}
.sections_box .add{line-height:48px}
/*ui-steps-tran*/
.ui-steps-tran{margin:25px auto;display:block;height:60px;width:100%;display:-moz-box;display:-webkit-box;display:box}
.ui-steps-tran li{position:relative;text-align:center;width:100%;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.ui-steps-tran .line_bg{height:3px;background:#d9eaf3;display:inline-block;width:50%;top:13px;position:absolute;z-index:1}
.ui-steps-tran .lbg-l{left:0}
.ui-steps-tran .lbg-r{right:0}
.ui-steps-tran .num{position:relative;z-index:2;background:#fff;width:54px;height:30px;text-align:center;display:inline-block}
.ui-steps-tran .num em,.num i{width:24px;height:24px;display:inline-block;left:15px;top:2px;position:absolute}
.ui-steps-tran .num em{background:#d9eaf3;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);z-index:2}
.ui-steps-tran .num i{z-index:3;color:#fff;font-style:normal;font-weight:700;font-size:18px;top:1px}
.ui-steps-tran .lbg-txt{color:#b6c6ce;font-size:13px}
.ui-steps-tran .on .lbg-txt{color:#1a97d7}
.ui-steps-tran .on .line_bg,.ui-steps-tran .on .num em{background:#1a97d7}
/* el-steps */
.el-steps{display:flex;display:-webkit-box;display:-ms-flexbox;}
.el-steps{white-space:nowrap}
.el-step{position:relative;-ms-flex-negative:1;flex-shrink:1}
.el-step.is-horizontal{display:inline-block;vertical-align:top;flex-basis:33.3333%}
.el-step.is-horizontal .el-step-line{height:2px;top:8px;left:0;right:-5px}

.el-step-head{position:relative;width:100%}
.el-step-head.is-finish{border-color:#3d93fd}
.el-step-line{position:absolute;border-color:inherit;background-color:#d7d7d7}
.el-step-line-inner{display:block;border-width:1px;border-style:solid;border-color:inherit;-webkit-transition:.15s ease-out;transition:.15s ease-out;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:0;color:#d7d7d7}
.el-step-icon{position:relative;z-index:1;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:16px;height:16px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:.15s ease-out;transition:.15s ease-out;border-radius:50%;box-shadow:0 0 0 5px #d7d7d7;background-color:#9d9d9d;border:4px solid #c3c3c3;-webkit-box-shadow:0 0 0 3px #ebebeb;box-shadow:0 0 0 3px #ebebeb}
.el-step-description{position:relative;width:200px;white-space:normal;margin:0 15px;background-color:white;padding:10px}
.el-step-description span:first-child{display:block;width:0;height:0;border-width:0 10px 10px;border-style:solid;border-color:transparent transparent #fff;position:absolute;top:-10px;left:50%;margin-left:-10px}
.el-step-description em{display:block;width:0;height:0;border-width:0 10px 10px;border-style:solid;border-color:transparent transparent #fff;position:absolute;top:1px;left:-10px}

.is-finish .el-step-title{color:#3d93fd}
.is-finish .el-step-icon{background-color:#3d93fd;border-color:#88bdfe;-webkit-box-shadow:0 0 0 3px #d8e9ff;box-shadow:0 0 0 3px #d8e9ff}
.is-finish .el-step-description{border:1px solid #3d93fd}
.is-finish .el-step-description span:first-child{border-color:transparent transparent #3d93fd}
.is-finish .el-step-description em{border-color:transparent transparent #fff}
/*标题*/
.column-title{display:table;width:100%;margin-bottom:15px;white-space:nowrap;border-spacing:10px 0}
.column-title:after,.column-title:before{display:table-cell;content:'';width:50%;background:-webkit-linear-gradient(#999,#999) repeat-x left center;background:linear-gradient(#999,#999) repeat-x left center;background-size:1px 1px;-webkit-transform:scaleY(.5);transform:scaleY(.5)}
/*优惠券*/
.tax-box{background:#ebeced;border-radius:6px;height:92px;margin-top:15px;color:#999;overflow:hidden}
.tax-box.valid{background:#F24B4B;color:#FFF}
.tax-box.displayType4{background-size:contain!important}
.tax-box:nth-child(1){margin-top:0}
.tax-box .tax-item{height:100%;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.tax-box .tax-item .tb{display:table;width:100%;height:100%}
.tax-box .tax-item .tb .tc{display:table-cell;vertical-align:middle}
.tax-box .tax-main{-webkit-box-flex:3;-webkit-flex:3;-ms-flex:3;flex:3;padding:0 0 0 12px!important;overflow:hidden;min-width:140px}
.tax-box .tax-main .c-main{line-height:28px}
.tax-box .tax-main .c-main .rmb{font-size:22px;font-weight:700}
.tax-box .tax-main .c-sub{overflow:hidden}
.tax-box .tax-main .c-sub:first-child{padding-top:5px}
.tax-box .tax-main .c-sub:last-child{overflow:hidden}
.tax-box .tax-split{position:relative;height:100%;width:1px}
.tax-box .tax-split:after,.tax-box .tax-split:before{content:"";position:absolute;width:10px;height:10px;background:#fff;border-radius:50%;left:-4px}
.tax-box .tax-split:before{top:-5px;z-index:1}
.tax-box .tax-split:after{bottom:-5px}
.tax-box .tax-split .line{border-right:1px dotted #FFCDCD;opacity:1;width:100%;height:100%}
.tax-box .tax-operator{text-align:center;position:relative;overflow:hidden;min-width:100px;max-width:170px}
/* close× */
.close{display:block;color:#ccc!important;font:normal 32px/32px "\5B8B\4F53",sans-serif;text-align:center;overflow:hidden;position:absolute;right:10px;top:10px;cursor:pointer;z-index:444}
.close:hover{text-decoration:none;color:#B6B6B6!important}

.close-circle{width:30px;height:30px;background:transparent;border:2px solid rgba(255, 255, 255, 0.6);-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;position:relative;cursor:pointer;display:inline-block}
.close-circle:after ,.close-circle:before{width:20px;height:2px;background:#FFF;background:rgba(255, 255, 255, 0.9);filter:alpha(opacity:90);opacity:0.9;-moz-opacity:0.9;-khtml-opacity:0.9;content:"";left:50%;top:50%;margin-left:-10px;margin-top:-1px;position:absolute;}
.close-circle:after{-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.close-circle:before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}

.fromMiddle:before, .fromMiddle:after{z-index:9999;-moz-transition-delay:150ms;-o-transition-delay:150ms;-webkit-transition-delay:150ms;transition-delay:150ms;-moz-transition:ease-in-out 400ms;-o-transition:ease-in-out 400ms;-webkit-transition:ease-in-out 400ms;transition:ease-in-out 400ms}
.fromMiddle span{width:28px;height:28px;background:#000;background:rgba(0, 0, 0, 0.4);filter:alpha(opacity:40);opacity:0.4;-moz-opacity:0.4;-khtml-opacity:0.4;display:inline-block;position:absolute;-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%;left:-1px;top:-1px;z-index:-9999;-moz-transform:scale(0.3);-ms-transform:scale(0.3);-webkit-transform:scale(0.3);transform:scale(0.3);opacity:0;-moz-transition:ease-in-out 300ms;-o-transition:ease-in-out 300ms;-webkit-transition:ease-in-out 300ms;transition:ease-in-out 300ms}
.fromMiddle:hover:before, .fromMiddle:hover:after{position:absolute;background-color:#fff}
.fromMiddle:hover span{-moz-transform:scale(1);-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);opacity:1}
/* talk-write */
.fab{position:fixed}
.fab-buttons a, .fab>a{-webkit-box-shadow:none;box-shadow:none}

.talk-write{position:fixed;right:30px;bottom:20px;width:46px;height:46px;background:#72a6ff;border-radius:100%;text-align:center;z-index:100}
.talk-write a{display:block;color:#FFF;line-height:18px;padding-top:4px;width:100%;height:100%}
.talk-write a span{display:block}
/* footer */
.ui-footer-white{background:#FFF;border-top:1px solid rgba(240,240,240,.7);-moz-box-flex:1.0;-webkit-box-flex:1.0;box-flex:1.0;display:-webkit-box;-webkit-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;box-pack:center}